<style>
    .stSelected {
        background: green !important;
        color: white !important;
    }

    .dx-fileuploader-input-wrapper {
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

        .dx-fileuploader-input-wrapper .dx-button-content {
            background: green;
            color: white;
        }

    .dx-fileuploader-container {
    }

    .cell-img {
        height: 40px;
    }





    .row_odd .cal_day {
        background: #ffe6cc;
    }

    .row_even .cal_day {
        background: #ccf2ff;
    }


    ._cal .days-row {
        border: 1px solid #eee;
    }

        ._cal .days-row td {
            text-align: center;
            border: 1px solid gray;
            padding: 5px;
            width: 14.28571%;
            background: #ddd;
        }

    ._cal .days {
        border: 1px solid #eee;
    }

        ._cal .days td {
            border: 1px solid #ccc;
            width: 14.28571%;
            padding: 3px;
        }

            ._cal .days td .day-wrapper {
                padding: 2px;
                /*min-height: 65px;*/
            }


            ._cal .days td .day-caption {
                color: black;
                text-align: right;
                padding: 1px;
            }

            ._cal .days td .today .day-caption {
                color: green;
                font-weight: bold;
            }

            ._cal .days td .day-caption._inactive {
                color: #ccc !important;
            }

            ._cal .days td .today .day-caption._inactive {
                color: green !important;
                font-weight: bold;
            }

            ._cal .days td:has(> .today) {
                background: #ccffe6;
            }

    ._cal .event {
        padding: 3px;
        margin: 2px 0 0 0;
        text-align: center;
    }

        ._cal .event.d1165 {
            background-color: #00cc99;
        }

        ._cal .event.d10000 {
            background-color: #66ff66;
        }

        ._cal .event span {
            display: inline-block;
            margin-left: 5px;
            font-weight: bold;
            font-size: 15px;
        }

        ._cal .event i {
            font-size: 15px;
        }

    .thin-scroll0::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .thin-scroll0::-webkit-scrollbar-thumb {
        background-color: #ddd;
        outline: 1px solid slategrey;
    }

    ._xheader.selected {
        background: #b3ffd9;
        border-bottom: 2px solid #00cc66 !important;
    }

    ._header_child {
        display: none;
    }


    ._event {
        margin: 3px;
    }

    ._session {
        padding: 5px;
        background: #adebeb;
        color: black;
        font-size: 12px;
        text-align: center;
    }

    ._expired {
        padding: 5px;
        background: #ffc34d;
        color: black;
        font-size: 11px;
        text-align: center;
    }

    ._session ._title {
        font-size: 13px;
        text-transform: uppercase;
    }

    ._expired ._title {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
    }

    ._session.selected {
        background: #99ff33;
    }
</style>

<div class="box courseperson" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>

    <div class="rowx content" style="clear:both">
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 col2 filter" style="display:none">
            <div class="filter-container box">
                <div class="header">Filter</div>
                <div class="content">
                    <div ng-include="'app/views/filter.html'" ng-init="type = 'course';" style="flex: 1 1 auto;display: flex;  width:100%;"></div>
                </div>

            </div>

        </div>
        <div class=" col-lg-12  col1 col-grid" style="padding-right:2px;padding-left:2px;">
            <!--<div dx-tabs="tabs_options">

            </div>-->
            <div>
                <table style="width:100%;">
                    <tr>
                        <td style="padding:6px;width:50%;font-weight:normal;text-align:center;border-bottom:1px solid #ccc" class="_schedule_header _xheader selected" ng-click="_header_click('_schedule_header','_schedule')">SCHEDULE</td>
                        <td style="padding: 6px; width: 50%; font-weight: normal; text-align: center; border-bottom: 1px solid #ccc" class="_list_header _xheader" ng-click="_header_click('_list_header','_list')">TABLE</td>
                    </tr>
                </table>
            </div>
            <div class="_schedule  _header_child" style="border:none;border-right:1px solid #ccc;padding:3px; overflow-y:hidden; " ng-style="getMainStyle()">

                <div style="padding:0px;display:none" class="_schedule_wrapper">

                    <div>
                        <table style="width:100%;background:#ddd">
                            <tr>
                                <td style="padding:5px" ng-click="nextMonth(-1)"><i class="fas fa-chevron-circle-left main-color" style="font-size:22px;"></i></td>
                                <td style="text-align:center;font-size:16px;padding:5px">{{caption}}</td>
                                <td style="padding:5px;text-align:right;" ng-click="nextMonth(1)"><i class="fas fa-chevron-circle-right main-color" style="font-size:22px;"></i></td>
                            </tr>

                        </table>
                    </div>
                    <div class="_cal">

                        <table style="width:100%" class="days-row">
                            <tr>
                                <td style="font-size:12px;">SUN</td>
                                <td style="font-size:12px;">MON</td>
                                <td style="font-size:12px;">TUE</td>
                                <td style="font-size:12px;">WED</td>
                                <td style="font-size:12px;">THU</td>
                                <td style="font-size:12px;">FRI</td>
                                <td style="font-size:12px;">SAT</td>
                            </tr>
                        </table>
                        <div id="scrollview" class="thin-scroll0" style="overflow-y:auto;margin-top:0px;" ng-style="getScrollStyle()">
                            <table style="width:100%" class="days" id="_days">
                                <tr id="w1">
                                    <td id="d0">
                                        <div class="day-wrapper"></div>
                                    </td>
                                    <td id="d1">
                                    </td>
                                    <td id="d2">
                                    </td>
                                    <td id="d3">
                                    </td>
                                    <td id="d4">
                                    </td>
                                    <td id="d5">
                                    </td>
                                    <td id="d6">
                                    </td>
                                </tr>

                                <tr id="w2">
                                    <td id="d7">
                                    </td>
                                    <td id="d8">
                                    </td>
                                    <td id="d9">
                                    </td>
                                    <td id="d10">
                                    </td>
                                    <td id="d11">
                                    </td>
                                    <td id="d12">
                                    </td>
                                    <td id="d13">
                                    </td>
                                </tr>

                                <tr id="w3">
                                    <td id="d14">
                                    </td>
                                    <td id="d15">
                                    </td>
                                    <td id="d16">
                                    </td>
                                    <td id="d17">
                                    </td>
                                    <td id="d18">
                                    </td>
                                    <td id="d19">
                                    </td>
                                    <td id="d20">
                                    </td>
                                </tr>
                                <tr id="w4">
                                    <td id="d21">
                                    </td>
                                    <td id="d22">
                                    </td>
                                    <td id="d23">
                                    </td>
                                    <td id="d24">
                                    </td>
                                    <td id="d25">
                                    </td>
                                    <td id="d26">
                                    </td>
                                    <td id="d27">
                                    </td>
                                </tr>
                                <tr id="w5">
                                    <td id="d28">
                                    </td>
                                    <td id="d29">
                                    </td>
                                    <td id="d30">
                                    </td>
                                    <td id="d31">
                                    </td>
                                    <td id="d32">
                                    </td>
                                    <td id="d33">
                                    </td>
                                    <td id="d34">
                                    </td>
                                </tr>
                                <tr id="w6">
                                    <td id="d35">
                                    </td>
                                    <td id="d36">
                                    </td>
                                    <td id="d37">
                                    </td>
                                    <td id="d38">
                                    </td>
                                    <td id="d39">
                                    </td>
                                    <td id="d40">
                                    </td>
                                    <td id="d41">
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>


                </div>

            </div>
            <div class="_header_child _list">
                <div dx-data-grid="dg" id="grid"></div>
            </div>


        </div>
        <!--<div class=" col-lg-2 col1 col-row-sum" style="padding-right:2px;padding-left:2px;">

            <div class="filter-container box dx-border">
                <div class="header">Summary</div>

                <div style="display: block; ">
                    <div style="padding:5px;overflow-y:auto;" class="sum-wrapper">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;text-align:center">
                            <div class="card-number cn w3-2017-neutral-gray" ng-click="filterStatus($event,-1)">
                                <div class="caption">  Pending</div>
                                <div class="value">
                                    {{summary.Pending}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;text-align:center">
                            <div class="card-number   w3-2017-greenery" ng-click="filterStatus($event,67)">
                                <div class="caption">
                                    Registered
                                </div>
                                <div class="value">
                                    {{summary.Registered}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;text-align:center">
                            <div class="card-number   w3-2017-flame" ng-click="filterStatus($event,69)">
                                <div class="caption">
                                    Canceled
                                </div>
                                <div class="value">
                                    {{summary.Canceled}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;text-align:center">
                            <div class="card-number  w3-win-phone-teal" ng-click="filterStatus($event,68)">
                                <div class="caption">
                                    Attended
                                </div>
                                <div class="value">
                                    {{summary.Attended}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;text-align:center">
                            <div class="card-number   w3-win-phone-red" ng-click="filterStatus($event,70)">
                                <div class="caption">
                                    Failed
                                </div>
                                <div class="value">
                                    {{summary.Failed}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;text-align:center">
                            <div class="card-number   w3-2017-marina" ng-click="filterStatus($event,71)">
                                <div class="caption">
                                    Passed
                                </div>
                                <div class="value">
                                    {{summary.Passed}}
                                </div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div style="clear:both"></div>



                </div>


            </div>
        </div>-->

    </div>

    <div class="rowx footer">
        <div class=" col-lg-11 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <!--<div dx-button="btn_search"></div>
            <div ng-show="IsEditable" dx-button="btn_new"></div>
            <div dx-button="btn_edit"></div>

            <div dx-button="btn_people"></div>

            <div dx-button="btn_notify"></div>
            <div dx-button="btn_syncroster"></div>


            <div ng-show="IsEditable" dx-button="btn_delete"></div>
            -->

            <table>
                <tr>
                    <td style="padding-right:3px;"> <div dx-button="btn_search"></div></td>
                    <td style="padding-right:3px;"> <div ng-show="IsEditable" dx-button="btn_new"></div></td>
                    <td style="padding-right:3px;"> <div dx-button="btn_edit"></div></td>
                    <td style="padding-right:3px;"> <div dx-button="btn_people"></div></td>
                    <td style="padding-right:3px;"> <div dx-button="btn_notify"></div></td>
                    <td style="padding-right:3px;"> <div dx-button="btn_syncroster"></div></td>
                    <td ng-show="dg_selected" style="padding-right:3px;"> <div id="uploader_file" dx-file-uploader="uploader_file" class="invisibleuploader"></div> </td>
                    <td style="padding-right:3px;"><div ng-show="IsEditable" dx-button="btn_delete"></div></td>
                </tr>
            </table>
        </div>
        <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding:0;text-align:right">
            <div dx-button="btn_filter"></div>
        </div>
        <div style="clear:both"></div>
    </div>

    <div id="popup_people" dx-popup="popup_people">
        <div class="   padding-7" style="padding:0;margin-top:3px;">
            <div dx-tabs="tabs_folder_options">

            </div>
            <div class="tabfolder participants">
                <div dx-data-grid="dg_people" id="dg_people" dx-item-alias="row">

                    <div data-options="dxTemplate:{ name:'updateResultTemplate' }">
                        <a ng-click="updateResult(row)" href="" class='w3-button w3-block w3-blue' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Update Result</a>
                    </div>
                    <div data-options="dxTemplate:{ name:'AttendanceTemplate' }">
                        <a ng-click="updateAttendance(row)" href="" class='w3-button w3-block w3-blue' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Attendance</a>
                    </div>
                </div>
            </div>


            <div class="tabfolder syllabi" style="display:none;">
                <div dx-data-grid="dg_syllabi" id="dg_syllabi" dx-item-alias="row">
                    <div data-options="dxTemplate:{ name:'updateSyllabusTemplate' }">
                        <a ng-click="updateSyllabus(row)" href="" class='w3-button w3-block w3-blue' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Update</a>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <div id="popup_att" dx-popup="popup_att">
        <div class="   padding-7" style="padding:0;margin-top:3px;">
            <div style="border-bottom:1px solid gray;padding:5px;margin-bottom:5px">Sessions</div>
            <div class="col-lg-2" ng-repeat="x in sessionTiles" ng-click="sessionTileClick(x)" style="padding:3px;">
                <div ng-class="getSessionTileClass(x)" style="background:gray;color:white;text-align:center;padding:7px;">
                    {{x.Caption}}
                </div>
            </div>
            <div style="clear:both"></div>
            <div style="padding:2px">
                <div dx-data-grid="dg_att" id="dg_att" dx-item-alias="row">
                    <div data-options="dxTemplate:{ name:'AttendanceDeleteTemplate' }">
                        <a ng-click="deleteAttendance(row)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Delete</a>
                    </div>

                </div>
            </div>
            <div style="margin-top:5px;" class="dx-border">
                <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                    <label>From</label>
                    <div dx-date-box="time_attfrom" class="center" dx-validator="{validationGroup:'attadd',  validationRules: [{ type: 'required'}]}"></div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                    <label>To</label>
                    <div dx-date-box="time_attto" class="center" dx-validator="{validationGroup:'attadd',  validationRules: [{ type: 'required'}]}"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                    <label>Remark</label>
                    <div dx-text-box="txt_attremark" class="center"></div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                    <label>&nbsp;</label>
                    <div dx-button="btn_attadd"></div>
                </div>

                <div style="clear:both"></div>

            </div>


        </div>
    </div>

    <div id="popup_employees" dx-popup="popup_employees">
        <div class="box">
            <div class="rowx content" style="clear:both">
                <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 col2">
                    <div class="filter-container box dx-border">
                        <div class="header">Course Information</div>
                        <div id="scrollview" dx-scroll-view="scroll_employees">
                            <div style="display:inline-block;padding-right:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Title</label>
                                    <div dx-text-box="txt_Title"></div>
                                </div>
                                <div class="col-lg-9 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Type</label>
                                    <div dx-text-box="txt_Type"></div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>No</label>
                                    <div dx-text-box="txt_No" class="center"></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Start Date</label>
                                    <div dx-date-box="date_DateStart" class="center"></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>End Date</label>
                                    <div dx-date-box="date_DateEnd" class="center"></div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Organization</label>
                                    <div dx-text-box="txt_Organization"></div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Location</label>
                                    <div dx-text-box="txt_Location"></div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Instructor</label>
                                    <div dx-text-box="txt_Instructor"></div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Training Director</label>
                                    <div dx-text-box="txt_TrainingDirector"></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Registration Deadline</label>
                                    <div dx-date-box="date_DateDeadlineRegistration" class="center"></div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Remaining</label>
                                    <div dx-text-box="txt_Remaining" class="center"></div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Remark</label>
                                    <div dx-text-box="txt_Remark"></div>
                                </div>


                            </div>

                        </div>


                    </div>

                </div>
                <div class=" col-lg-9 col-md-9 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:5px;">
                    <div dx-data-grid="dg_employees" id="grid"></div>

                    <div style="display: block">
                        <div style="padding:5px;">
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,-1)">
                                    <div class="caption">  Pending</div>
                                    <div class="value">
                                        {{courseEmployee.Pending}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,67)">
                                    <div class="caption">
                                        Registered
                                    </div>
                                    <div class="value">
                                        {{courseEmployee.Registered}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,69)">
                                    <div class="caption">
                                        Canceled
                                    </div>
                                    <div class="value">
                                        {{courseEmployee.Canceled}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,68)">
                                    <div class="caption">
                                        Attended
                                    </div>
                                    <div class="value">
                                        {{courseEmployee.Attended}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,70)">
                                    <div class="caption">
                                        Failed
                                    </div>
                                    <div class="value">
                                        {{courseEmployee.Failed}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,71)">
                                    <div class="caption">
                                        Passed
                                    </div>
                                    <div class="value">
                                        {{courseEmployee.Passed}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both"></div>



                    </div>


                </div>
            </div>

        </div>
    </div>

    <div id="popup_status" dx-popup="popup_status" class="dx-border">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Current Status</label>
            <div dx-text-box="txt_OldStatus"></div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>New Status</label>
            <div dx-select-box="sb_StatusId" dx-validator="{validationGroup:'statusChange',  validationRules: [{ type: 'required'}]}"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Remark</label>
            <div dx-text-box="txt_StatusRemark"></div>
        </div>

        <div style="clear:both"></div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

            <div dx-check-box="chb_SMS"></div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

            <div dx-check-box="chb_Email"></div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

            <div dx-check-box="chb_AppNotification"></div>
        </div>

    </div>


    <div id="popup_passed" dx-popup="popup_passed" class="dx-border">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Name</label>
            <div dx-text-box="txt_Name"></div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Current Status</label>
            <div dx-text-box="txt_OldStatus"></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Remark</label>
            <div dx-text-box="txt_StatusRemark"></div>
        </div>

        <div style="clear:both"></div>
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 col2">
            <div class="filter-container box dx-border">
                <div class="header">Certificate</div>
                <div style="display:inline-block">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                        <label>Issue Date</label>
                        <div dx-date-box="date_DateIssue" class="center" dx-validator="{validationGroup:'passed',  validationRules: [{ type: 'required'}]}"></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                        <label>No.</label>
                        <div dx-text-box="txt_CertificateNo" class="center" dx-validator="{validationGroup:'passed',  validationRules: [{ type: 'required'}]}"></div>
                    </div>
                </div>

            </div>
        </div>
        <div style="clear:both"></div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

            <div dx-check-box="chb_SMS"></div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

            <div dx-check-box="chb_Email"></div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

            <div dx-check-box="chb_AppNotification"></div>
        </div>

    </div>


    <div id="popup_result" dx-popup="popup_result" class="dx-border">

        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Status</label>
            <div dx-select-box="sb_result" dx-validator="{validationGroup:'cresult',  validationRules: [{ type: 'required'}]}"></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Remark</label>
            <div dx-text-box="txt_resultremark"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Issue Date</label>
            <div dx-date-box="date_resultissue" class="center"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7" ng-show="!selectedCourse.Continual">
            <label>Expire Date</label>
            <div dx-date-box="date_resultexpire" class="center"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7" ng-show="!selectedCourse.Continual">
            <span>Interval:</span><span style="display:inline-block;margin-left:5px;margin-right:5px">{{related_interval.value}}</span><span>Month(s)</span>
        </div>
        <div style="clear:both"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Certificate No.</label>
            <div dx-text-box="txt_resultno" class="center"></div>
        </div>
        <div style="clear:both"></div>




    </div>
    <div id="popup_syncerrors" dx-popup="popup_syncerrors">


        <div dx-data-grid="dg_syncerrors" id="dg_syncerrors">

        </div>

    </div>


    <div id="popup_notify" dx-popup="popup_notify">
        <div class="   padding-7" style="padding:0;margin-top:3px;">
            <div dx-data-grid="dg_notify" id="dg_notify" dx-item-alias="row">


            </div>
        </div>
    </div>

    <div id="popup_syllabus" dx-popup="popup_syllabus">
        <div class="dx-border   padding-7" style="padding:0;margin-top:3px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Session</label>
                <div dx-select-box="sb_syl_session"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Instructor</label>
                <div dx-select-box="sb_syl_ins"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Remark</label>
                <div dx-text-box="txt_syl_remark"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_syl_done"></div>
            </div>
        </div>
    </div>



    <div id="popup_day" dx-popup="popup_day">
        <div>
            <div style="padding:5px;background:#ccc;border:1px solid gray;font-weight:bold;text-align:center;border-bottom:none">
                {{momentDate(popup_day_date)}}
            </div>
            <div style="padding:5px;background:#ccc;border:1px solid gray;font-weight:bold;text-align:center;border-top:none">
                {{popup_day_title}}
            </div>
            <div class="thin-scroll2 item-cont" style="overflow-y:auto;" ng-style="get_day_container_style()">
                <table style="width:100%;border-left:1px solid #ccc;border-right:1px solid #ccc">
                    <thead>
                        <tr style="border-bottom:1px solid #ccc">
                            <th style="width:20%;text-align:center;padding:5px;border-right:1px solid #ccc">
                                Main Group
                            </th>
                            <th style="width:20%;text-align:center;padding:5px;border-right:1px solid #ccc">
                                Group
                            </th>
                            <th style="text-align:left;padding:5px;border-right:1px solid #ccc">
                                Last Name
                            </th>
                            <th style="width: 20%; text-align: left; padding: 5px; border-right: 1px solid #ccc">
                                First Name
                            </th>
                            <th style="width:10%;text-align:center;padding:5px;border-right:1px solid #ccc">
                                NID
                            </th>
                            <th style="width:10%;text-align:center;padding:5px">
                                Mobile
                            </th>
                        </tr>


                    </thead>
                    <tbody>
                        <tr ng-repeat="emp in popup_day_ds" style="border-bottom:1px solid #ccc">
                            <td style="text-align:center;padding:5px;border-right:1px solid #ccc">{{emp.JobGroupMain}}</td>
                            <td style="text-align:center;padding:5px;border-right:1px solid #ccc">{{emp.JobGroup}}</td>
                            <td style="text-align:left;padding:5px;border-right:1px solid #ccc">{{emp.LastName}}</td>
                            <td style="text-align:left;padding:5px;border-right:1px solid #ccc">{{emp.FirstName}}</td>
                            <td style="text-align:center;padding:5px;border-right:1px solid #ccc">{{emp.NID}}</td>
                            <td style="text-align:center;padding:5px">{{emp.Mobile}}</td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>




    <div ng-include="'app/views/courseAdd.html?v=1256887'" ng-init="type = 'active';"></div>
    <div ng-include="'app/views/employeeSelectCourse.html?v=100'"></div>
    <div dx-load-panel="loadPanel"></div>
</div>


