<div id="mySidenav" class="sidenav">
    <a href="" class="closebtn" data-ng-click="closeMenu()">&times;</a>
    <!--<a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>-->
    <div style="align-items:center;text-align:center;color:white " class="_menu">
        <span class="font-size-16 bold">{{userTitle}}</span>



    </div>
    <div style="align-items:center;text-align:center;color:white " class="_menu">
        <span class="font-size-16 bold" ng-click="goPrivacy();">Privacy Settings</span>



    </div>






</div>