<style>
    .ctd {
        border: 1px solid #eee;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #eee;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    .dx-toolbar-center {
        width: 100%;
    }
</style>
<div ng-controller="qaCateringController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">

            <div id="scroll_qaCatering" dx-scroll-view="scroll_qaCatering" style="margin-top:5px">

                <div class="container">
                    <div class="visible-xs">

                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="2">
                                    :گزارش دهنده
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Email (آدرس ایمیل): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px; text-align: center;"><div dx-text-box="txt_email" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Tel No. (شماره تلفن): </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:center;"><div dx-text-box="txt_telNumber" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Full Name (نام و نام‌خانوادگی): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px; text-align: center;"> <div dx-text-box="txt_name" class="center"></div></td>
                            </tr>
                        </table>


                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color: lightgray; padding: 7px; text-align: right; color: black; font-weight: bold" colspan="4">
                                    :اطلاعات اولیه
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_reportDate" class="center" dx-validator="{validationGroup:'catering',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ گزارش </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_hazardDate" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ رویداد/مخاطره </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_hazardTime" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :ساعت بروز رویداد/مخاطره </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_area" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :محل و بروز رویداد/مخاطره </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_register" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :علامت ثبت هواپیما </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_route" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :مسیر پرواز </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_flightNumber" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :شماره پرواز </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:right; font-weight: bold" colspan="2"> :شرح مخاطره / رویداد </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;" colspan="2"><div dx-text-area="txt_description" class="center"></div></td>
                            </tr>

                        </table>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold">
                                :عامل بروز مخاطره/رویداد
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 7px; text-align: right" ng-repeat="x in chrReason">
                                <p style="margin-right:5px;display:inline-block">{{x.Title}}</p><input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkReason(x)" ng-disabled="!isEditable" />
                            </div>
                            <div style="clear:both"></div>
                            <div style="margin: 1%; border: 1px solid #eee; width: 98%; color: black" dx-text-area="txt_eventOther" class="center"></div>
                        </div>
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="6">
                                    :مشخصات/نوع و شماره
                                </td>
                            </tr>


                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_trolley" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :ترولی </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_equipment" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :دستگاه/تجهیزات </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_transporter" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :خودرو حمل کننده </td>
                            </tr>
                        </table>
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    :گزارش شرایط و جزئیات ترولی/تجهیزات یا خودرو حمل کنندهمرتبط با مخاطره/رویداد
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px"><div dx-text-area="txt_trolleyEquipmentTransporterDecs" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold;direction:rtl" colspan="4">
                                    آیا رویداد منجر به جرح/مصدومیت یا آسیب‌دیدگی پرسنل گردیدهاست؟ (توضیح داده شود)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-select-box="sb_injuryOccurring" class="center"></div></td>
                            </tr>
                            <tr ng-show="entity.InjeryOccurring == true">
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_injuryDescription" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    آیا فرد آسیب‌دیده حین انجام کار از وسایل و تجهیزات حفاظتی لازم استفاده کرده است؟
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-select-box="sb_safty" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:right; font-weight: bold" ng-show="entity.SaftyEquipmentUseage == true"> چه نوع وسایلی؟ </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_saftyEquipmentType" ng-show="entity.SaftyEquipmentUseage == true" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold;direction:rtl" colspan="4">
                                    آیا رویداد منجر به وقفه کاری شده است؟ (چه مدت؟ بر حسب دقیقه)
                                </td>
                            </tr>
                            <tr style="padding: 0px !important;text-align:center; width:100%">
                                <td class="col-sm-12 col-xs-12" style="padding:7px;text-align:right;"><div dx-number-box="txt_workBreakPeriod" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    :اقدامات پیشگیرانه/پیشنهادی یا اصلاحی لازم
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_preventiveActions" class="center"></div></td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="container">
                    <div class="visible-sm visible-md">
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="2">
                                    :گزارش دهنده
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Email (آدرس ایمیل): </td>
                                <td style="padding: 7px; text-align: center;"><div dx-text-box="txt_email" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Tel No. (شماره تلفن): </td>
                                <td style="padding:7px;text-align:center;"><div dx-text-box="txt_telNumber" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Full Name (نام و نام‌خانوادگی): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-text-box="txt_name" class="center"></div></td>
                            </tr>
                        </table>
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: lightgray" class="dx-border">
                            <tr>
                                <td style="background-color: lightgray; padding: 7px; text-align: right; color: black; font-weight: bold" colspan="4">
                                    :اطلاعات اولیه
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_reportDate" class="center" dx-validator="{validationGroup:'catering',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ گزارش </td>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_hazardDate" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ رویداد/مخاطره </td>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_hazardTime" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :ساعت بروز رویداد/مخاطره </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_area" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :محل و بروز رویداد/مخاطره </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_register" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :علامت ثبت هواپیما </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_route" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :مسیر پرواز </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_flightNumber" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :شماره پرواز </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_description" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :شرح مخاطره / رویداد </td>
                            </tr>
                        </table>

                        <div style="margin-top:10px;border:1px solid #eee;width:100%;color:lightgray" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                :عامل بروز مخاطره/رویداد
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 1%;text-align:right" ng-repeat="x in chrReason">
                                <p style="margin-right:5px;display:inline-block">{{x.Title}}</p><input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkReason(x)" ng-disabled="!isEditable" />
                            </div>
                            <div style="clear:both"></div>
                            <div style="margin:1%;border:1px solid #eee;width:98%;color:lightgray" dx-text-area="txt_eventOther" class="center"></div>
                        </div>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:lightgray" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="6">
                                    :مشخصات/نوع و شماره
                                </td>
                            </tr>


                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_trolley" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> ترولی: </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_equipment" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> دستگاه/تجهیزات: </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_transporter" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> خودرو حمل کننده: </td>
                            </tr>
                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:lightgray" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    :گزارش شرایط و جزئیات ترولی/تجهیزات یا خودرو حمل کنندهمرتبط با مخاطره/رویداد
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px"><div dx-text-area="txt_trolleyEquipmentTransporterDecs" class="center" ></div></td>
                            </tr>
                        </table>

                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:lightgray" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold;direction:rtl" colspan="4">
                                    آیا رویداد منجر به جرح/مصدومیت یا آسیب‌دیدگی پرسنل گردیدهاست؟ (توضیح داده شود
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-select-box="sb_injuryOccurring" class="center"></div></td>
                            </tr>
                            <tr ng-show="entity.InjeryOccurring == true">
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_injuryDescription" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:lightgray" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    آیا فرد آسیب‌دیده حین انجام کار از وسایل و تجهیزات حفاظتی لازم استفاده کرده است؟
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-select-box="sb_safty" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_saftyEquipmentType" ng-show="entity.SaftyEquipmentUseage == true" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold" ng-show="entity.SaftyEquipmentUseage == true"> چه نوع وسایلی؟ </td>
                            </tr>

                        </table>

                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:lightgray" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold;direction:rtl" colspan="4">
                                    )آیا رویداد منجر به وقفه کاری شده است؟ (چه مدت؟ برحسب دقیقه
                                </td>
                            </tr>
                            <tr style="float:right; padding: 0px !important">
                                <td class="col-sm-6 col-md-6" style="padding:7px;text-align:right;"><div dx-number-box="txt_workBreakPeriod" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:lightgray" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    :اقدامات پیشگیرانه/پیشنهادی یا اصلاحی لازم
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_preventiveActions" class="center"></div></td>
                            </tr>

                        </table>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
