<style>
    .ctd {
        border: 1px solid #eee;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #eee;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }
</style>
<div ng-controller="qaCyberSecurity">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">

            <div id="scroll_qaCyber" dx-scroll-view="scroll_qaCyber" style="margin-top:5px">

                <div class="container">
                    <div class="visible-xs">


                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    CONTACT PERSON
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Full Name : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_name"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title: </td>
                                <td style="padding:7px;text-align:left;"><div dx-text-box="txt_jobTitle"></div></td>
                            </tr>
                            <tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date of Event: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_dateEvent" class="center" dx-validator="{validationGroup:'cyber',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Phone / Email: </td>
                                <td style="padding:7px;text-align:left;"><div dx-text-box="txt_contactInfo" class="center" dx-validator="{validationGroup:'cyber',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>


                        </table>
                        <!--<table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
        <tr>
            <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">

            </td>
        </tr>
        <tr>
            <td >  </td>
            <td style="padding:7px;text-align:right;"></td>
        </tr>
    </table>-->

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                THE INCIDENT
                            </div>
                            <div style="padding: 7px;text-align:right; font-weight: bold">
                                <div style="display:inline-block; margin-top:12px; text-align:left; padding-left: 0 !important" class="col-xs-6 col-md-6 col-sm-6">Date of Incident:</div>
                                <div dx-date-box="txt_dateIncident" class="center" dx-validator="{validationGroup:'cyber',  validationRules: [{ type: 'required',   }]}"></div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 1%" ng-repeat="x in incident">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkIncidentBy(x)" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                            <div ng-show="showOther" style="margin: 1%; border: 1px solid #eee; width: 98%; color: black" dx-text-area="txt_eventOther"></div>

                        </div>


                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                METHOD OF INTRUSION:
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 1%" ng-repeat="x in method">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkMethodBy(x)" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                            <div ng-show="showOther" style="margin: 1%; border: 1px solid #eee; width: 98%; color: black" dx-text-area="txt_eventOther"></div>

                        </div>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                UNAUTHORIZED ACCESS
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 1%" ng-repeat="x in access">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkAccessBy(x)" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                            <div ng-show="showOther" style="margin: 1%; border: 1px solid #eee; width: 98%; color: black" dx-text-area="txt_eventOther"></div>

                            <div>
                                <div style="margin-bottom:5px"> Were any containment measures made?:</div>
                                <div dx-text-area="txt_containment" class="center"></div>
                            </div>

                        </div>

                        
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    IMPACTED SERVICES
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Was anything permanently impacted by the incident?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_impacted" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Was there any data, records, or information breached?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_breached" class="center"></div></td>
                            </tr>
                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    ATTACK VECTOR
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Do you know how the attack was made?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_attack" class="center"></div></td>
                            </tr>
                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    OTHER
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold">Is there any other information you would like to include in this report?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_other" class="center"></div></td>
                            </tr>
                        </table>

                    </div>

                    <div class="visible-sm visible-md">
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="4">
                                    CONTACT PERSON
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Full Name : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_name"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title: </td>
                                <td style="padding:7px;text-align:left;"><div dx-text-box="txt_jobTitle"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date of Event: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_dateEvent" class="center" dx-validator="{validationGroup:'cyber',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Phone / Email: </td>
                                <td style="padding:7px;text-align:left;"><div dx-text-box="txt_contactInfo" class="center" dx-validator="{validationGroup:'cyber',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>


                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="4">
                                    THE INCIDENT
                                </td>
                            <tr>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> Date of Incident: </td>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_reportDate" class="center" dx-validator="{validationGroup:'cyber',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>

                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    METHOD OF INTRUSION:
                                </td>
                            </tr>

                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    UNAUTHORIZED ACCESS
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Were any containment measures made?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_containment" class="center"></div></td>
                            </tr>
                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    IMPACTED SERVICES
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Was anything permanently impacted by the incident?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_impacted" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Was there any data, records, or information breached?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_breached" class="center"></div></td>
                            </tr>
                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    ATTACK VECTOR
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Do you know how the attack was made?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_attack" class="center"></div></td>
                            </tr>
                        </table>
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:#eee;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    OTHER
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold">Is there any other information you would like to include in this report?: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:left;"><div dx-text-area="txt_other" class="center"></div></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div style="clear:both"></div>
            </div>
        </div>

       
        <div dx-load-panel="loadPanel"></div>
    </div>
</div>