<style>
    .ctd {
        border: 1px solid #eee;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #eee;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    .dx-toolbar-center {
        width: 100%;
    }
</style>
<div ng-controller="qaGroundController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">

            <div id="scroll_qaGround" dx-scroll-view="scroll_qaGround" style="margin-top:5px">

                <div class="container">
                    <div class="visible-xs">
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Title: </td>
                                <td style="padding:7px;text-align:left;"><div dx-text-box="txt_title" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Airport: </td>
                                <td style="padding:7px;text-align:left;"><div dx-select-box="sb_airport" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_date" class="center" dx-validator="{validationGroup:'ground',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px; text-align: left; font-weight: bold"> Time of occurrence: </td>
                                <td style="padding: 7px; text-align: left;"><div dx-date-box="txt_OccurrenceTime" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Phase Of Operation: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_optPhase" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Area: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_area" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Register: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acRegister" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Type: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acType" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_fltNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Scheduled Ground Time: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-date-box="txt_gndTime" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight Delay: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-date-box="txt_fltDelay" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight Cancelled: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_fltCancelled" class="center"></div></td>
                            </tr>

                        </table>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Damage By:
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 7px; text-align: left" ng-repeat="x in damageBy">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkDamageBy(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                            <div style="padding: 7px; text-align: left" dx-text-area="txt_eventOther" class="center"></div>

                        </div>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    DETAILS OF DAMAGE
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_damageDetail" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="9">
                                    NUMBER OF CASUALTIES
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="padding: 7px;text-align:center;">Fatalities</td>
                                <td style="padding: 7px;text-align:center;">Non-Fatal</td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" class="col-md-1 col-sm-1"> Employees:</td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_eeCasualty" class="center"></div></td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_eeNonCasualty" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" class="col-md-1 col-sm-1"> Passengers:</td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_paxCasualty" class="center"></div></td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_paxNonCasualty" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" class="col-md-1 col-sm-1"> Other:</td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_otherCasualty" class="center"></div></td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_otherNonCasualty" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    VEHICLE/RAMP EQUIMPMENT DETAILS AND CONDITIONS REPORT <br /> (گزارش شرایط و جزئیات وسائل نقلیه و تجهیزات رمپ)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Serial Fleet nr. (شماره سریال ناوگان): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veFleetSerial" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Type (نوع): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veType" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Owner (مالک): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veOwner" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Area (محل وقوع): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veArea" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Age Of Vehivle/Ramp Eq.(عمر تچهیزات رمپ/وسیله نقلیه): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="txt_veAga" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Last Overhaul (اخرین تعمیر اساسی): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veLastOverhaul" class="center"></div></td>
                            </tr>


                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Remarks: </td>

                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;" colspan="2"> <div dx-text-area="txt_veRemarks" class="center"></div></td>
                            </tr>


                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Tyres (تایرها): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px; text-align: center" colspan="2"> <div dx-select-box="sb_veTyer" class="center"></div></td>
                            </tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Brakes (ترمزها): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veBrake" class="center"></div></td>
                            </tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Steering (فرمان): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veSteering" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Lights (چراغ‌ها): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veLight" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Wipers (برف پاک‌کن): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veWiper" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Protection (حفاظ): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veProtection" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Warning Devices (وسایل هشداردهنده): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veWarningDevices" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Stabilizer (استابیلایزر‌ها): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veStab" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Tow Hitch (اتصال کشنده): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veTow" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="1"> Field of vision from driving position <br /> (میدان دید هنگام رانندگی): </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px; text-align: center;" colspan="2"> <div dx-select-box="sb_veVision" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    DETAILS OF PERSONNEL INVOLVED <br /> (مشخصات کارکنان درگیر)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name (نام): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1Name" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title (عنوان شغل): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1Job" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Company (شرکت): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1Compony" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> staff Nr. (شماره کارمندی): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1StaffNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> license (گواهینامه): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1License" class="center"></div></td>
                            </tr>

                            <tr style="border-bottom: 1px dashed #eee; padding: 5px"></tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name (نام): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2Name" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title (عنوان شغل): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2Job" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Company (شرکت): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2Compony" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> staff Nr. (شماره کارمندی): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2StaffNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> license (گواهینامه): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2License" class="center"></div></td>
                            </tr>

                            <tr style="border-bottom: 1px dashed #eee;padding: 5px"></tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name (نام): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3Name" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title (عنوان شغل): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3Job" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Company (شرکت): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3Compony" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> staff Nr. (شماره کارمندی): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3StaffNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> license (گواهینامه): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3License" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    CONDITIONS
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Visibillity (دید): </td>
                                <td style="padding: 7px;text-align:left;"><div dx-number-box="txt_VISByMeter" class="center"></div><p style="display:inline-block">m</p></td>
                                <td style="padding: 7px;text-align:left;"><div dx-number-box="txt_VISByKiloMeter" class="center"></div><p style="display:inline-block">km</p></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Wind/gust (باد/تندباد): </td>
                                <td style="padding: 7px;text-align:left;" colspan="2"> <div dx-number-box="txt_wind" class="center"></div><p>kts</p></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Temperature (دما): </td>
                                <td style="padding: 7px;text-align:left;" colspan="2"> <div dx-number-box="txt_temp" class="center"></div><p>c</p></td>
                            </tr>

                        </table>
                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Weather (هوا):
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4" style="padding: 7px; text-align: left" ng-repeat="x in weather">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkWeather(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                        </div>

                        <div style="clear:both"></div>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Surface (سطح) :
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4" style="" ng-repeat="x in surface">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkSurface(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                          
                        </div>
                        <div style="clear:both"></div>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Lighting:
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4" style="padding: 7px; text-align: left" ng-repeat="x in lighting">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkLighting(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                        </div>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    CONTRIBUTORY FACTORS <br />(عوامل کمکی)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="padding: 7px 7px 0 7px; text-align: left;font-weight:bold"> Identify factors which in your opinion contributed to the incident/accident by major factor</p>
                                    <p style="padding: 0px 7px 7px 7px; text-align: right; font-weight:bold">عواملی که نظر شما به همراه عامل اصلی به وقوع سانحه/حادثه کمک کرده‌اند</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_contributFact" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    EVENT
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="padding: 7px 7px 0 7px;text-align:left; font-weight: bold">Give a description of what happend. Include details relevant contributory factors identifide.</p>
                                    <p style="padding: 0px 7px 7px 7px; text-align: right"> تشریح آنچه اتفاق افتاده است شامل جزئیات شناسایی شده عوال کمکی رویداد </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_Event" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    CORRECTIVE ACTION TAKEN  <br /> (اقدامات اصلاحی صورت گرفته)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_correctiveAction" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    OTHER INFORMATION & SUGGESTIONS FOR PREVENTIVE ACTIONS <br /> (سایر اطلاعات و پیشنهادهایی جهت اقدامات پیشگیرانه)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_otherRMK" class="center"></div></td>
                            </tr>

                        </table>

                        <div style="clear:both"></div>


                    </div>
                </div>

                <div class="container">
                    <div class="visible-sm visible-md">
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_date" class="center" dx-validator="{validationGroup:'ground',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px; text-align: left; font-weight: bold"> Time of occurrence: </td>
                                <td style="padding: 7px; text-align: left;"><div dx-date-box="txt_OccurrenceTime" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight Delay: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_fltDelay" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Phase Of Operation: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_optPhase" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Area: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_area" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Register: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acRegister" class="center"></div></td>
                            </tr>
                            <tr>

                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Type: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acType" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-date-box="txt_fltNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Scheduled Ground Time: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-date-box="txt_gndTime" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight Cancelled: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_fltCancelled" class="center"></div></td>
                            </tr>

                        </table>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Damage By:
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 1%" ng-repeat="x in damageBy">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkDamageBy(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                            <div style="margin: 1%; border: 1px solid #eee; width: 98%; color: black" dx-text-area="txt_eventOther" class="center"></div>

                        </div>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    DETAILS OF DAMAGE
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_damageDetail" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="9">
                                    NUMBER OF CASUALTIES
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="padding: 7px;text-align:center;">Fatalities</td>
                                <td style="padding: 7px;text-align:center;">Non-Fatal</td>
                                <td></td>
                                <td style="padding: 7px;text-align:center;">Fatalities</td>
                                <td style="padding: 7px;text-align:center;">Non-Fatal</td>
                                <td></td>
                                <td style="padding: 7px;text-align:center;">Fatalities</td>
                                <td style="padding: 7px;text-align:center;">Non-Fatal</td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" class="col-md-1 col-sm-1"> Employees:</td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_eeCasualty" class="center"></div></td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_eeNonCasualty" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold" class="col-md-1 col-sm-1"> Passengers:</td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_paxCasualty" class="center"></div></td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_paxNonCasualty" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold" class="col-md-1 col-sm-1"> Other:</td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_otherCasualty" class="center"></div></td>
                                <td style="padding: 7px; text-align: center;" class="col-md-1 col-sm-1"> <div dx-number-box="txt_otherNonCasualty" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    VEHICLE/RAMP EQUIMPMENT DETAILS AND CONDITIONS REPORT<br />(گزارش شرایط و جزئیات وسائل نقلیه و تجهیزات رمپ)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Serial Fleet nr. (شماره سریال ناوگان): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veFleetSerial" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Type (نوع): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veType" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Owner (مالک): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veOwner" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Area (محل وقوع): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veArea" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Age Of Vehivle/Ramp Eq.(عمر تچهیزات رمپ/وسیله نقلیه): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="txt_veAga" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Last Overhaul (اخرین تعمیر اساسی): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_veLastOverhaul" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Remarks: </td>
                                <td style="padding: 7px;text-align:left;" colspan="3"> <div dx-text-area="txt_veRemarks" class="center"></div></td>
                            </tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Tyres (تایرها): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veTyer" class="center"></div></td>
                            </tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Brakes (ترمزها): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veBrake" class="center"></div></td>
                            </tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Steering (فرمان): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veSteering" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Lights (چراغ‌ها): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veLight" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Wipers (برف پاک‌کن): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veWiper" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Protection (حفاظ): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veProtection" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Warning Devices (وسایل هشداردهنده): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veWarningDevices" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Stabilizer (استابیلایزر‌ها): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veStab" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Tow Hitch (اتصال کشنده): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veTow" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold" colspan="3"> Field of vision from driving position (میدان دید هنگام رانندگی): </td>
                                <td style="padding: 7px; text-align: center;"> <div dx-select-box="sb_veVision" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    DETAILS OF PERSONNEL INVOLVED <br />(مشخصات کارکنان درگیر)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name (نام): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1Name" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title (عنوان شغل): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1Job" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Company (شرکت): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1Compony" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> staff Nr. (شماره کارمندی): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1StaffNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> license (گواهینامه): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p1License" class="center"></div></td>
                            </tr>

                            <tr style="border-bottom: 1px dashed #eee; padding: 5px"></tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name (نام): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2Name" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title (عنوان شغل): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2Job" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Company (شرکت): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2Compony" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> staff Nr. (شماره کارمندی): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2StaffNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> license (گواهینامه): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p2License" class="center"></div></td>
                            </tr>

                            <tr style="border-bottom: 1px dashed #eee;padding: 5px"></tr>

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name (نام): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3Name" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Job Title (عنوان شغل): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3Job" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Company (شرکت): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3Compony" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> staff Nr. (شماره کارمندی): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3StaffNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> license (گواهینامه): </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_p3License" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    CONDITIONS
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Visibillity (دید): </td>
                                <td style="padding: 7px;text-align:left;"><div dx-number-box="txt_VISByMeter" class="center"></div><p>m</p></td>
                                <td style="padding: 7px;text-align:left;"><div dx-number-box="txt_VISByKiloMeter" class="center"></div><p>km</p></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Wind/gust (باد/تندباد): </td>
                                <td style="padding: 7px;text-align:left;" colspan="2"> <div dx-number-box="txt_wind" class="center"></div><p>kts</p></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Temperature (دما): </td>
                                <td style="padding: 7px;text-align:left;" colspan="2"> <div dx-number-box="txt_temp" class="center"></div><p>c</p></td>
                            </tr>

                        </table>
                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Weather (هوا):
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 1%" ng-repeat="x in weather">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkWeather(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div style="clear:both"></div>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Surface (سطح) :
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 1%" ng-repeat="x in surface">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkSurface(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div style="clear:both"></div>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                Lighting:
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 1%" ng-repeat="x in lighting">
                                <input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkLighting(x)" ng-disabled="!isEditable" /> {{x.Title}}
                            </div>
                            <div style="clear:both"></div>
                        </div>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    CONTRIBUTORY FACTORS <br /> (عوامل کمکی)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="padding: 7px 7px 0 7px"> Identify factors which in your opinion contributed to the incident/accident by major factor</p>
                                    <p style="padding: 0px 7px 7px 7px; text-align: right">عواملی که نظر شما به همراه عامل اصلی به وقوع سانحه/حادثه کمک کرده‌اند</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_contributFact" class="center"></div></td>
                            </tr>

                        </table>
                        
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    EVENT
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="padding: 7px 7px 0 7px">Give a description of what happend. Include details relevant contributory factors identifide.</p>
                                    <p style="padding: 0px 7px 7px 7px; text-align: right">:تشریح آنچه اتفاق افتاده است شامل جزئیات شناسایی شده عوال کمکی رویداد</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_Event" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    CORRECTIVE ACTION TAKEN  <br /> (اقدامات اصلاحی صورت گرفته)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_correctiveAction" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    OTHER INFORMATION & SUGGESTIONS FOR PREVENTIVE ACTIONS <br /> (سایر اطلاعات و پیشنهادهایی جهت اقدامات پیشگیرانه)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_otherRMK" class="center"></div></td>
                            </tr>

                        </table>


                        <div style="clear:both"></div>


                    </div>
                </div>

            </div>
            <div style="clear:both"></div>
        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
