<style>
    .ctd {
        border: 1px solid #eee;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #eee;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    .dx-toolbar-center {
        width: 100%;
    }
</style>
<div ng-controller="qaMaintenanceController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">

            <div id="scroll_qaMaintenance" dx-scroll-view="scroll_qaMaintenance" style="margin-top:5px">

                <div class="container">
                    <div class="visible-xs">
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date of Occurrence: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_OccurrenceDate" class="center" dx-validator="{validationGroup:'maintenance',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <!--<tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> UTC Time / Local Time: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_time"></div></td>
                            </tr>-->
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> A/C Register: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acReg"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Type: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acType"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_fltNum"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Route: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_route"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> ATL No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_atlNum"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Task No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_taskNum"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Station: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_station"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Reference: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_reference"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    Component Specification:
                                </td>
                            </tr>

                            <!--<div class="col-xs-3 col-sm-3 col-md-3" ng-repeat="x in componentSpecification">

                                <input type="checkbox" style="text-align:right" ng-="x.checked" ng-model="OPTCompn[$index]" ng-change="chkCompnSpec($index)" /> {{x.Title}}

                            </div>-->
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Component: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_compn"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Serial Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_serialNumber"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Part Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_partNumber"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Event
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_event"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Corrective Action Taken Until Now:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_actionTaken"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_name"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> CAA License No.: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_CAALicense"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Authorization No.: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_authNum"></div></td>
                            </tr>
                        </table>


                        <div style="clear:both"></div>



                        <table ng-show="url_sign" style="width:100%;margin-top:10px;border:1px solid #eee;">
                            <tr>
                                <td style="padding:10px;border-bottom:1px solid #eeee;text-align:center" colspan="3">
                                    <div ng-show="url_sign" style="text-align:center;font-size:14px;padding:0px;">The document signed and approved by</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:25%;"></td>
                                <td style="width:50%; text-align:center;padding:10px">

                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{PIC}}</div>
                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{signDate}}</div>
                                    <img style="height:auto;display: block; width: 50%;margin:0 auto 0 auto" ng-show="url_sign" ng-src="{{url_sign}}" />
                                </td>
                                <td style="width:25%;"></td>
                            </tr>
                        </table>
                        <div style="clear:both"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="visible-sm visible-md">
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date of Occurrence: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_OccurrenceDate" class="center" dx-validator="{validationGroup:'maintenance',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Station: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_station"></div></td>
                                <!--<td style="padding: 7px;text-align:left; font-weight: bold"> UTC Time / Local Time: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_time"></div></td>-->
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> A/C Register: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acReg"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Type: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acType"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_fltNum"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Route: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_route"></div></td>


                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> ATL No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_atlNum"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Task No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_taskNum"></div></td>

                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Reference: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_reference"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    Component Specification:
                                </td>
                            </tr>

                            <!--<div class="col-xs-3 col-sm-3 col-md-3" ng-repeat="x in componentSpecification">

                                <input type="checkbox" style="text-align:right" ng-="x.checked" ng-model="OPTCompn[$index]" ng-change="chkCompnSpec($index)" /> {{x.Title}}

                            </div>-->
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Component: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_compn"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Serial Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_serialNumber"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Part Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_partNumber"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Event
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_event"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Corrective Action Taken Until Now:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_actionTaken"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_name"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> CAA License No.: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_CAALicense"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Authorization No.: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_authNum"></div></td>
                            </tr>
                        </table>


                        <div style="clear:both"></div>



                        <table ng-show="url_sign" style="width:100%;margin-top:10px;border:1px solid #eee;">
                            <tr>
                                <td style="padding:10px;border-bottom:1px solid #eeee;text-align:center" colspan="3">
                                    <div ng-show="url_sign" style="text-align:center;font-size:14px;padding:0px;">The document signed and approved by</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:25%;"></td>
                                <td style="width:50%; text-align:center;padding:10px">

                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{PIC}}</div>
                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{signDate}}</div>
                                    <img style="height:auto;display: block; width: 50%;margin:0 auto 0 auto" ng-show="url_sign" ng-src="{{url_sign}}" />
                                </td>
                                <td style="width:25%;"></td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
            <div style="clear:both"></div>
        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
