<style>
    .ctd {
        border: 1px solid #eee;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #eee;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    .dx-toolbar-center {
        width: 100%;
    }
</style>
<div ng-controller="qaMaintenanceController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">

            <div id="scroll_qaMaintenance" dx-scroll-view="scroll_qaMaintenance" style="margin-top:5px">

                <div class="container">
                    <div class="visible-xs">
                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date Of Occurrence: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_OccurrenceDate" class="center" dx-validator="{validationGroup:'maintenance',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px; text-align: left; font-weight: bold"> Time Of Occurrence: </td>
                                <td style="padding: 7px; text-align: left;"><div dx-date-box="txt_OccurrenceTime" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> A/C Register: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acReg" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Type: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acType" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_fltNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Route: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_route" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> ATL No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_atlNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Task No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_taskNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Station: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_station" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Reference: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_reference" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    Component Specification:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Component: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_compn" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Serial Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_serialNumber" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Part Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_partNumber" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Event
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_event" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Corrective Action Taken Until Now:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_actionTaken" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name: </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:center;"> <div dx-text-box="txt_name" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> CAA License No.: </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_CAALicense" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Authorization No.: </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_authNum" class="center"></div></td>
                            </tr>
                        </table>


                        <div style="clear:both"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="visible-sm visible-md">
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">

                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Date of Occurrence: </td>
                                <td style="padding:7px;text-align:left;"><div dx-date-box="txt_OccurrenceDate" class="center" dx-validator="{validationGroup:'maintenance',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px; text-align: left; font-weight: bold"> Time of occurrence: </td>
                                <td style="padding: 7px; text-align: left;"><div dx-date-box="txt_OccurrenceTime" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Station: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_station" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> A/C Register: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acReg" class="center"></div></td>
                            </tr>
                            <tr>

                                <td style="padding: 7px;text-align:left; font-weight: bold"> Aircraft Type: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_acType" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Flight number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_fltNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Route: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_route" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> ATL No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_atlNum" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Task No. : </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_taskNum" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Reference: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_reference" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="6">
                                    Component Specification:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Component: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-select-box="sb_compn" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Serial Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_serialNumber" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Part Number: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-number-box="nb_partNumber" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Event
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_event" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                    Corrective Action Taken Until Now:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-area="txt_actionTaken" class="center"></div></td>
                            </tr>

                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Name: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_name" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> CAA License No.: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_CAALicense" class="center"></div></td>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Authorization No.: </td>
                                <td style="padding: 7px;text-align:left;"> <div dx-text-box="txt_authNum" class="center"></div></td>
                            </tr>
                        </table>


                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
