<style>
    .ctd {
        border: 1px solid #eee;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #eee;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    .dx-toolbar-center {
        width: 100%;
    }
</style>
<div ng-controller="qaSecurityController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">

            <div id="scroll_qaSecurity" dx-scroll-view="scroll_qaSecurity" style="margin-top:5px">

                <div class="container">
                    <div class="visible-xs">

                        <table style="margin-top:10px;border:1px solid #eee;width:100%;color:black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold" colspan="2">
                                    Contact Information (Optionally) (اطلاعات تماس (اختیاری
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Email (آدرس ایمیل): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px; text-align: center;"><div dx-text-box="txt_email" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Tel No. (شماره تلفن): </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:center;"><div dx-text-box="txt_telNumber" class="center"></div></td>
                            </tr>
                            <tr>
                                <td style="padding: 7px;text-align:left; font-weight: bold"> Full Name (نام و نام‌خانوادگی): </td>
                            </tr>
                            <tr>
                                <td style="padding: 7px; text-align: center;"> <div dx-text-box="txt_name" class="center"></div></td>
                            </tr>
                        </table>


                        <div style="clear:both"></div>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color: lightgray; padding: 7px; text-align: right; color: black; font-weight: bold" colspan="4">
                                    اطلاعات اولیه
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_reportDate" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ گزارش </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_hazardDate" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ و ساعت بروز رویداد/مخاطره </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_area" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :محل و بروز رویداد/مخاطره </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_register" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :علامت ثبت هواپیما </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_route" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :مسیر پرواز </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_flightNumber" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :شماره پرواز </td>
                            </tr>
                        </table>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold">
                                :عامل بروز مخاطره/رویداد
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 1%;text-align:right" ng-repeat="x in shrReason">
                                <p style="margin-right:5px;display:inline-block">{{x.Title}}</p><input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkReason(x)" ng-disabled="!isEditable" />
                            </div>
                            <div style="clear:both"></div>
                            <div ng-show="showOther" style="margin: 1%; border: 1px solid #eee; width: 98%; color: black" dx-text-area="txt_eventOther"></div>
                        </div>
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="6">
                                    :جزئیات پتانسیل خطر
                                </td>
                            </tr>


                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_camera" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :دوربین </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_carryingBox" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :جعبه حمل اشیاء ممنوعه </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_handRocket" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :راکت‌دستی بازرسی کترینگ </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_comail" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :Co mail </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_other" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :سایر </td>
                            </tr>
                        </table>
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    گزارش شرایط و جزئیات تجهیزات مرتبط با مخاطره/رویداد
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px"><div dx-text-area="txt_equipmentDescription" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    (آیا رویداد منجر به جرح/مصدومیت یا آسیب‌دیدگی پرسنل گردیدهاست؟ (توضیح داده شود
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_injuryDescription" class="center"></div></td>
                            </tr>
                        </table>


                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    آیا رویداد منجر به وقفه کاری شده است؟
                                </td>
                            </tr>
                            <tr style="padding: 0px !important;text-align:center;width:100%">
                                <td class="col-sm-12 col-xs-12 col-md-12" style="padding:7px;text-align:right;"><div dx-number-box="txt_workBreakPeriod" class="center"></div></td>
                                <!-- <td class="col-sm-3 col-md-3" style="padding: 7px;text-align:left; font-weight: bold"> :چه مدت؟ </td>-->
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    اقدامات پیشگیرانه/پیشنهادی یا اصلاحی لازم
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_preventiveActions" class="center"></div></td>
                            </tr>

                        </table>


                        <div style="clear:both"></div>



                        <table ng-show="url_sign" style="width:100%;margin-top:10px;border:1px solid #eee;">
                            <tr>
                                <td style="padding:10px;border-bottom:1px solid #eeee;text-align:center" colspan="3">
                                    <div ng-show="url_sign" style="text-align:center;font-size:14px;padding:0px;">The document signed and approved by</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:25%;"></td>
                                <td style="width:50%; text-align:center;padding:10px">

                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{PIC}}</div>
                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{signDate}}</div>
                                    <img style="height:auto;display: block; width: 50%;margin:0 auto 0 auto" ng-show="url_sign" ng-src="{{url_sign}}" />
                                </td>
                                <td style="width:25%;"></td>
                            </tr>
                        </table>
                        <div style="clear:both"></div>

                    </div>
                </div>

                <div class="container">
                    <div class="visible-sm visible-md">
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color: lightgray; padding: 7px; text-align: right; color: black; font-weight: bold" colspan="4">
                                    :اطلاعات اولیه
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_reportDate" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ گزارش </td>
                                <td style="padding:7px;text-align:right;"><div dx-date-box="txt_hazardDate" class="center" dx-validator="{validationGroup:'seurity',  validationRules: [{ type: 'required',   }]}"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :تاریخ و ساعت بروز رویداد/مخاطره </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_area" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :محل و بروز رویداد/مخاطره </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_register" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :علامت ثبت هواپیما </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_route" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :مسیر پرواز </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_flightNumber" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> :شماره پرواز </td>
                            </tr>
                        </table>

                        <div style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <div style="background-color:lightgray;padding:7px;text-align:left;color:black;font-weight:bold">
                                :عامل بروز مخاطره/رویداد
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3" style="padding: 1%;text-align:right" ng-repeat="x in shrReason">
                                <p style="margin-right:5px;display:inline-block">{{x.Title}}</p><input type="checkbox" style="text-align:right" ng-checked="x.checked" ng-model="x.checked" ng-change="chkReason(x)" ng-disabled="!isEditable"/>
                            </div>
                            <div style="clear:both"></div>
                            <div ng-show="showOther" style="margin: 1%; border: 1px solid #eee; width: 98%; color: black" dx-text-area="txt_eventOther"></div>
                        </div>
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="6">
                                    جزئیات پتانسیل خطر
                                </td>
                            </tr>


                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_camera" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> دوربین: </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_carryingBox" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> جعبه حمل اشیاء ممنوعه: </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_handRocket" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> راکت‌دستی بازرسی کترینگ: </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_comail" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> Co mail: </td>
                                <td style="padding:7px;text-align:right;"><div dx-text-box="txt_other" class="center"></div></td>
                                <td style="padding: 7px;text-align:right; font-weight: bold"> سایر: </td>
                            </tr>
                        </table>
                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    گزارش شرایط و جزئیات تجهیزات مرتبط با مخاطره/رویداد
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px"><div dx-text-area="txt_equipmentDescription" class="center"></div></td>
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    (آیا رویداد منجر به جرح/مصدومیت یا آسیب‌دیدگی پرسنل گردیدهاست؟ (توضیح داده شود
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_injuryDescription" class="center"></div></td>
                            </tr>
                        </table>


                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    آیا رویداد منجر به وقفه کاری شده است؟
                                </td>
                            </tr>
                            <tr style="float:right; padding: 0px !important">
                                <td class="col-sm-6 col-md-6" style="padding:7px;text-align:right;"><div dx-number-box="txt_workBreakPeriod" class="center"></div></td>
                                <!-- <td class="col-sm-3 col-md-3" style="padding: 7px;text-align:left; font-weight: bold"> :چه مدت؟ </td>-->
                            </tr>
                        </table>

                        <table style="margin-top: 10px; border: 1px solid #eee; width: 100%; color: black" class="dx-border">
                            <tr>
                                <td style="background-color:lightgray;padding:7px;text-align:right;color:black;font-weight:bold" colspan="4">
                                    اقدامات پیشگیرانه/پیشنهادی یا اصلاحی لازم
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:7px;text-align:right;"><div dx-text-area="txt_preventiveActions" class="center"></div></td>
                            </tr>

                        </table>


                        <div style="clear:both"></div>



                        <table ng-show="url_sign" style="width:100%;margin-top:10px;border:1px solid #eee;">
                            <tr>
                                <td style="padding:10px;border-bottom:1px solid #eeee;text-align:center" colspan="3">
                                    <div ng-show="url_sign" style="text-align:center;font-size:14px;padding:0px;">The document signed and approved by</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:25%;"></td>
                                <td style="width:50%; text-align:center;padding:10px">

                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{PIC}}</div>
                                    <div ng-show="url_sign" style="text-align:center;font-size:16px;padding:5px;">{{signDate}}</div>
                                    <img style="height:auto;display: block; width: 50%;margin:0 auto 0 auto" ng-show="url_sign" ng-src="{{url_sign}}" />
                                </td>
                                <td style="width:25%;"></td>
                            </tr>
                        </table>
                        <div style="clear:both"></div>
                    </div>
                </div>




            </div>

        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
